// 
  File: banner.pug
  Author: Dylan Sprague
  Website: node.portfolio.deadfyre.com
  Description: Display the main banner
//

// Header Banner START
.head-bann
  canvas.particles
  h2.head-bann-centered
    span.typing
// Header Banner END