extends layout

block content
  p(style='color: #fff; text-align: center; margin-top: 20px;')
    | Hey I'm Dylan, a programming student at Georgian College. In my free time I'm usually playing Rocket League. ⚽