extends layout

block content
  p(style='color: #fff; text-align: center; margin-top: 20px;') So, you found my portfolio! I promise one day I'll add proper content to these pages.

  p(style='color: #fff; text-align: center; margin-top: 20px;') In the mean time, welcome! Enjoy snooping around, my socials are below if you can't find what you're looking for!