// 
  File: layout.pug
  Author: Dylan Sprague
  Website: node.portfolio.deadfyre.com
  Description: The layout of most pages on the site
//

doctype html
html
  include ./partials/header

  body
    include ./partials/banner
    include ./partials/navbar

    block content

    include ./partials/footer
