extends ../layout

block content
  // Popup Window START
  .alert
    span.closebtn(onclick="this.parentElement.style.display='none';") ×
    |     Whoa! I haven't finished this page yet, just email me at:
    a(href='mailto:contact@deadfyre.com?', target='_top', style='color: white;')
      strong contact@deadfyre.com
    |     Or you can slide into my DMs on discord @
    b Drix#8197
    |  😉
  // Popup Window END
  // Gallery START
  .container.gallery-container
    h1 Graphic Showcase
    p.page-description.text-center Created using Adobe Photoshop, Illustrator & Cinema 4D.
    .tz-gallery
      .row
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/grim-reapers.jpg')
            img(src='/images/graphic_design/grim-reapers.jpg', alt='Grim Reapers Logo')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/Käldr-Beasts.jpg')
            img(src='/images/graphic_design/Käldr-Beasts.jpg', alt='Käldr Beasts Logo')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/OTL.jpg')
            img(src='/images/graphic_design/OTL.jpg', alt='OTL Esports')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/Bk.jpg')
            img(src='/images/graphic_design/Bk.jpg', alt='Bk. Logo')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/infinity8.jpg')
            img(src='/images/graphic_design/infinity8.jpg', alt='Infinity 8')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/spacelips.jpg')
            img(src='/images/graphic_design/spacelips.jpg', alt='Space Lips')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/3DAurora.jpg')
            img(src='/images/graphic_design/3DAurora.jpg', alt='3D Aurora Logo')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/Bazz.jpg')
            img(src='/images/graphic_design/Bazz.jpg', alt='Bazz Logo')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/happynowRemake.jpg')
            img(src='/images/graphic_design/happynowRemake.jpg', alt='Happy Now Remake')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/drixsupreme.jpg')
            img(src='/images/graphic_design/drixsupreme.jpg', alt='Drix Supreme')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/jke.jpg')
            img(src='/images/graphic_design/jke.jpg', alt='Jke Logo')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/rlbanners.jpg')
            img(src='/images/graphic_design/rlbanners.jpg', alt='Rocket League Banners')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/glitch.jpg')
            img(src='/images/graphic_design/glitch.jpg', alt='Glitchy')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/R3DYT.jpg')
            img(src='/images/graphic_design/R3DYT.jpg', alt='R3D Water Esports')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/TLKfortnite.jpg')
            img(src='/images/graphic_design/TLKfortnite.jpg', alt='TLK Fortnite')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/RETRO.jpg')
            img(src='/images/graphic_design/RETRO.jpg', alt='Retro')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/zep.png')
            img(src='/images/graphic_design/zep.png', alt='Zep Logo')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/bogan.jpg')
            img(src='/images/graphic_design/bogan.jpg', alt='Bogan Logo')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/Shadowland.png')
            img(src='/images/graphic_design/Shadowland.png', alt='Shadowland Logo')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/soldier.jpg')
            img(src='/images/graphic_design/soldier.jpg', alt='Soldier')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/PaintedLight.jpg')
            img(src='/images/graphic_design/PaintedLight.jpg', alt='Painted Light')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/code.jpg')
            img(src='/images/graphic_design/code.jpg', alt='Code')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/film.jpg')
            img(src='/images/graphic_design/film.jpg', alt='Film')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/hop gems.jpg')
            img(src='/images/graphic_design/hop gems.jpg', alt='Hop Gems')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/boganrl offline.jpg')
            img(src='/images/graphic_design/boganrl offline.jpg', alt='BoganRL Offline Banner')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/painted scope.png')
            img(src='/images/graphic_design/painted scope.png', alt='Painted Scope')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/drix in style.jpg')
            img(src='/images/graphic_design/drix in style.jpg', alt='Drix In Style')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/splosive.jpg')
            img(src='/images/graphic_design/splosive.jpg', alt='Splosive')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/hatchet.jpg')
            img(src='/images/graphic_design/hatchet.jpg', alt='Hatchet')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/freedom.jpg')
            img(src='/images/graphic_design/freedom.jpg', alt='Freedom')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/yt bg1.jpg')
            img(src='/images/graphic_design/yt bg1.jpg', alt='YouTube BG')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/yt bg2.jpg')
            img(src='/images/graphic_design/yt bg2.jpg', alt='YouTube BG')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/dream different.jpg')
            img(src='/images/graphic_design/dream different.jpg', alt='Dream Different')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/drix wallpaper.jpg')
            img(src='/images/graphic_design/drix wallpaper.jpg', alt='Drix Wallpaper')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/eos gaming.jpg')
            img(src='/images/graphic_design/eos gaming.jpg', alt='EOS Gaming')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/its dylan.jpg')
            img(src='/images/graphic_design/its dylan.jpg', alt="It's Dylan")
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/gold eye.jpg')
            img(src='/images/graphic_design/gold eye.jpg', alt='Gold Eye')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/mini-me.jpg')
            img(src='/images/graphic_design/mini-me.jpg', alt='Mini-Me')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/sexy.jpg')
            img(src='/images/graphic_design/sexy.jpg', alt='Sexy')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/bokeh.jpg')
            img(src='/images/graphic_design/bokeh.jpg', alt='Bokeh')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/nixture.png')
            img(src='/images/graphic_design/nixture.png', alt='Nixture')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/shooting stars.jpg')
            img(src='/images/graphic_design/shooting stars.jpg', alt='Shooting Stars')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/suit.jpg')
            img(src='/images/graphic_design/suit.jpg', alt='Suit')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/outcome.jpg')
            img(src='/images/graphic_design/outcome.jpg', alt='Outcome')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/drix character.jpg')
            img(src='/images/graphic_design/drix character.jpg', alt='Drix Character')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/nature survivalist.jpg')
            img(src='/images/graphic_design/nature survivalist.jpg', alt="Nature's Survivalist")
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/faceless.jpg')
            img(src='/images/graphic_design/faceless.jpg', alt='Faceless')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/retro colour.jpg')
            img(src='/images/graphic_design/retro colour.jpg', alt='Retro Colour')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/lost planet.jpg')
            img(src='/images/graphic_design/lost planet.jpg', alt='Lost Planet')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/pop art.jpg')
            img(src='/images/graphic_design/pop art.jpg', alt='Pop Art')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/fyreisland.jpg')
            img(src='/images/graphic_design/fyreisland.jpg', alt='Fyreisland')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/graphic editor.jpg')
            img(src='/images/graphic_design/graphic editor.jpg', alt='Graphic Editor')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/pavillin channel.jpg')
            img(src='/images/graphic_design/pavillin channel.jpg', alt='Pavillin Channel Banner')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/wide sea.jpg')
            img(src='/images/graphic_design/wide sea.jpg', alt='Wide Sea')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/green mountain.jpg')
            img(src='/images/graphic_design/green mountain.jpg', alt='Green Mountain')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/second world patrol.jpg')
            img(src='/images/graphic_design/second world patrol.jpg', alt='Second World Patrol')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/slender.jpg')
            img(src='/images/graphic_design/slender.jpg', alt='Slender')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/p.jpg')
            img(src='/images/graphic_design/p.jpg', alt='P')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/headless.jpg')
            img(src='/images/graphic_design/headless.jpg', alt='Headless')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/parallel lines.jpg')
            img(src='/images/graphic_design/parallel lines.jpg', alt='Parallel Lines')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/bluist.jpg')
            img(src='/images/graphic_design/bluist.jpg', alt='Bluist')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/truro jr rangers.jpg')
            img(src='/images/graphic_design/truro jr rangers.jpg', alt='Truro Jr. Rangers')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/pavillin wallpaper.jpg')
            img(src='/images/graphic_design/pavillin wallpaper.jpg', alt='Pavillin Wallpaper')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/og.jpg')
            img(src='/images/graphic_design/og.jpg', alt='OG Gaming')
        .col-sm-6.col-md-4
          a.lightbox(href='/images/graphic_design/shadow.jpg')
            img(src='/images/graphic_design/shadow.jpg', alt='Shadow')
        .col-sm-12.col-md-4
          a.lightbox(href='/images/graphic_design/snow manip.jpg')
            img(src='/images/graphic_design/snow manip.jpg', alt='Snow Manipulation')
  // Gallery END
