extends ../layout

block content
  // Projects
  .projectBox
    .project(style='background-image: url(http://i.imgur.com/b9r5sEL.jpg);')
      h3.projectName Drum Kit
      a(href='jscamp/drumkit')
        input.projectBtn(type='submit', value='View')
      p An interactive drum kit using JavaScript
  .projectBox
    .project(style='background-image: url(http://unsplash.it/1500/1000?image=881&blur=5);')
      h3.projectName Clock
      a(href='jscamp/clock')
        input.projectBtn(type='submit', value='View')
      p A clock build with CSS and JavaScript.
  .projectBox
    .project(style='background-image: url(https://source.unsplash.com/7bwQXzbF6KE/800x500);')
      h3.projectName CSS Variables
      a(href='jscamp/cssVariables')
        input.projectBtn(type='submit', value='View')
      p Learning how to use CSS variables with JavaScript.
  .projectBox
    .project(style='background-image: url(/images/array.jpg);')
      h3.projectName Arrays
      a(href='jscamp/arrays')
        input.projectBtn(type='submit', value='View')
      p Everything to do with arrays in JavaScript.
