extends ../layout

block content
  // Popup Window
  .alert
    span.closebtn(onclick="this.parentElement.style.display='none';") ×
    | I promise this page will have content one day.
  // Popup Window END